# Eclipse files
bin/
.classpath
.project

# Temporary files
/TLE/
/ECOO/ecoo20p4/
/Misc DMOJ/rollencrypt/
/Misc DMOJ/dpy/
/DWITE/dwite08c1p3/
/DMOPC/7 DMOPC 18 Contest 4 Dr Henri and Responsibility/
/DMOPC/7 DMOPC 18 Contest 5 A Photography Problem/
/Misc DMOJ/phantom3/