# IDE files
bin/
obj/
.classpath
.project
*.cbp
*.workspace
*.workspace.layout
*.layout
*.depend

# Incomplete problems
/Atcoder DP/dpy/
/Misc DMOJ/halfgrid/
/DMOPC/7 DMOPC 18 Contest 4 Dr Henri and Responsibility/
/DMOPC/7 DMOPC 18 Contest 5 A Photography Problem/
/CCO/cco08p5/
CCC/ccc21s4/
CCC/ccc14s5/
COCI/coci18c1p4/
COCI/coci19c4p2/
Summer Institute/si17c3p5/
/IOI/ioi13p4/
SAC/sac22cc1p4/
USACO/usaco21febs1/
/Misc DMOJ/ccoprep3p2/
/IOI/ioi02p4/